body {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    height: 100vh;           
    margin: 0;  
    background-image: url('../../assets/loginb.png'); /* Relative path */
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    width: 100vw;
}

.container {
    margin-left: 100px;
    display: flex;
    flex-direction: column;      
    justify-content: center;
    align-items: center;
    padding: 40px;               
    margin-top: 200px;
    background: #fff;           
    border-radius: 50px;         
    box-shadow: 0 10px 20px rgba(141, 137, 137, 0.1); 
    width: 400px;              
    min-height: 500px;          
    box-sizing: border-box;
    opacity: 1;
    transform: translate(-300px, -60px);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(65, 6, 65);
}


.header .text {
    color: rgb(65, 6, 65);
    font-weight: bold;
    font-size: 1.5em;
    padding: 50px;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top:10px;
    margin-bottom:0px;
}

.forgot-password span {
    color: rgb(65, 6, 65)
}

.forgot-password span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.submit-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.submit {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.submit:hover {
    background-color: rgb(54, 25, 54);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;   
}

.input {
    display: flex;
    flex-direction: center;
    gap: 20px;
}

.input img {
    width: 20px;
    height: 20px;
}

.input input {
    width: 100%;               
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#f9f9f9;
    color:#333;
}

input:focus {
    border-color:#888;
    outline: none;
    background-color:#9c9898;
}
