body {
    background-color:rgb(36, 15, 58);
}

button {
    background-color:rgb(144, 50, 140);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(124, 30, 120);
}

h1 {
    position: relative;
    top: 200px;
}

p, button {
    position: relative;
    left:-200px;
    top:-100px;
}

.image-container {
    display: flex;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.dashboard-image {
    width: 40%;
    height: auto;
    border-radius:10px;
    margin-right:10px;
    scroll-snap-align:start;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card1 {
    transform: translateY(-20000px);
}