@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.bg-cover {
    background-image: url('../../assets/background.gif'); /* Relative path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;  }

  html {
    scroll-behavior: smooth;
  }

  * {
    font-family: 'Pixelify Sans', italic;
    color:#ffff;
  }

  .homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:blueviolet;
    opacity: 0.8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .start-button:hover {
    background-color:rgb(87, 37, 133);
    color: #ffff;
  }