body { 
    background-image: url('./assets/background.gif');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;                 
    margin: 0;      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(64, 28, 97); 
}

.home-title {
    font-size: 3em;
    text-align: left;
    align-self: flex-start;
    margin-left:20px;
    color: #ffffff;
}
