
.home-title {
    font-size: 3em;
    text-align: left;
    position: absolute;
    top: 150px;
    background-color: rgba(124, 0, 128, 0.438);
    border-radius: 30px;
    left: 325px;
    color: #ffffff;
    font-family: 'pixelify sans', serif;
}
