body {
  padding-top: 80px;
  background-color:rgb(36, 15, 58);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 20px;
}

.home-title {
    font-size: 3em;
    text-align: left;
    position: absolute;
    top: 150px;
    background-color: rgba(124, 0, 128, 0.438);
    border-radius: 30px;
    left: 325px;
    color: #ffffff;
    font-family: 'Pixelify sans', serif;
}
